<div class="container">
  <div class="content">
    <div class="title">
      <h1>The Person Finder</h1>
    </div>
    <div class="paragraph">
      <p>If you just can't find someone and need to know what they look like, 
        you've come to the right place. 
        Just type the name of the person you are looking for in the search box!</p>
    </div>
    <div class="search">
      <app-search-bar></app-search-bar>
    </div>
    <div class="list">
        <mat-list class="full">
            <mat-list-item *ngFor="let person of peopleList" class="list-content">
              <app-list-content [person]="person"></app-list-content>
            </mat-list-item>
        </mat-list>
    </div>
  </div>
</div>